.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cardd {
  background: #fffdf8;
  padding: 30px;
  width: 390px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  cursor: pointer;
}

.cardd:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.cardd h3 {
  font-size: 1.5rem;
  color: #F05522;
  white-space: nowrap;
  margin-bottom: 15px;
  font-family: 'Georgia', serif;
  text-align: start;
}

.cardd p {
  font-size: 1rem;
  line-height: 1.6;
  color: #5c3a00;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: start;
}

@media (min-width: 1024px) and (max-width: 1279px){
    
.cardd {
  background: #fffdf8;
  padding: 30px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  cursor: pointer;
}
.cardd h3 {
    font-size: 1.3rem;
    color: #F05522;
    white-space: nowrap;
    margin-bottom: 15px;
    font-family: 'Georgia', serif;
    text-align: start;
}
}
@media (max-width: 480px) {
    .cardd {
    background: #fffdf8;
    padding: 30px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    cursor: pointer;
}
.cardd h3 {
    font-size: 1.3rem;
    color: #F05522;
    white-space: nowrap;
    margin-bottom: 15px;
    font-family: 'Georgia', serif;
    text-align: start;
}
}
@media (max-width: 320px) {
    .cardd {
        background: #fffdf8;
        padding: 30px;
        width: 105%;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        border-radius: 10px;
        cursor: pointer;
    }
}