.term-section {
  background-image: url('../../assest/image3.png'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 100px;   
  position: relative;
}


.sloka-section {
  text-align: center;
  padding: 20px 20px;
 
}

.sloka-heading {
  font-size: 2.2rem;
  color:  #F05522;
  margin-bottom: 30px;
  font-weight: bold;
}

.sloka-slider {
  max-width: 800px;
  margin: 0 auto;
}

.sloka-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px;

  transition: transform 0.4s ease;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px; 
  box-sizing: border-box;
}

.sloka-card:hover {
  transform: scale(1.02);
}
.sloka-text {
  font-style: italic;
  color: #444;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.6;
  flex-grow: 1;
  overflow-y: auto; 
}

.sloka-title {
  color: #333;
  margin-top: 20px;
  font-weight: 600;
}

.sloka-meaning {
  color: #555;
  margin-top: 10px;
  font-size: 0.95rem;
}
@media (max-width: 480px) {
  .sloka-section {
    padding: 30px 10px; 
  }

  .sloka-heading {
    font-size: 1.5rem; 
    margin-bottom: 20px;
  }

  .sloka-slider {
    max-width: 100%;
    padding: 0 10px;
      gap: 20px;  
  }

  .sloka-card {
    padding: 20px;      
    height:280px;   
      
   
  }

  .sloka-text {
    font-size: 0.9rem;  
    padding: 15px;
  }

  .sloka-title {
    font-size: 1rem;    
    margin-top: 15px;
  }

  .sloka-meaning {
    font-size: 0.85rem;  
    margin-top: 8px;
  }
  .term-section {
  background-image: url('../../assest/image3.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;   
  position: relative;
  height: 450px;
}

}
